.make-note {
  border: 2px outset #00ff00;
  padding: 1em;
  width: 40%;
}

.make-note textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  resize: none;
  box-sizing: border-box;
  padding: 4px;
  border: 1px solid green;
  color: green;
  caret-color: #00ff00;
}

.titleTextArea {
  height: 2em;
  margin-bottom: 1em !important;
}

.descriptionTextArea {
  height: 8rem;
}

.make-note textarea:focus {
  color: #00ff00;
  outline: 2px solid #00ff00;
}

.make-note button {
  margin-top: 1em;
  float: right;
}

.make-note button:focus {
  outline: none;
}

.note-container {
  width: 100%;
  margin-top: 1em;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}
