.note-modal {
  position: absolute;
  width: 60%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid green;
}

.modal-header {
  display: flex;
  flex-direction: row-reverse;
}

.note-modal:active {
 outline: none;
}

.note-modal form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.date-created {
  font-family: "Source Code Pro", monospace;
  font-size: 1em;
  margin: 10px;
  color: #00aa00;
}

.modal-title:disabled,
.modal-description:disabled {
  border: none;
}

.modal-title::placeholder,
.modal-description::placeholder {
  color: #00aa00;
}

.modal-title {
  padding: 10px;
  font-size: 2.2em;
  font-weight: 600;
}

.modal-description {
  padding: 10px;
  resize: none;
}

.hide {
  display: none;
}

.form-actions {
  margin: 10px;
}