.note-modal {
  width: 60%;
  margin: auto;
  padding: 10px;
  height: 80%;
}

.note-modal form {
  height: 100%;
}

.date-created {
  font-family: "Source Code Pro", monospace;
  font-size: 1em;
  margin: 5px 0 5px 0;
  color: #00aa00;
}

.del-btn {
  float: right;
}

.modal-title:disabled,
.modal-description:disabled {
  border: none;
}

.modal-title::placeholder,
.modal-description::placeholder {
  color: #00aa00;
}

.modal-title {
  font-size: 2.2em;
  font-weight: 600;
}

.modal-description {
  font-size: 1.4em;
  display: block;
  width: 100%;
  max-height: 75%;
  resize: none;
  margin-bottom: 10px;
}

.hide {
  display: none;
}
