.note {
  margin: 1em;
  border: 2px outset #00ff00;
  height: 10em;
  width: 18em;
  overflow: hidden;
}

.note:hover {
  cursor: pointer;
}

.note h2 {
  margin: 5px;
  font-size: smaller;
  display: inline;
}

.note h1 {
  margin: 0;
  padding: 5px;
  display: block;
  font-size: 1.8em;
  border-top: 1px solid #00ff00;
  border-bottom: 1px solid #00ff00;
}

.note h4 {
  font-size: 0.7em;
  margin: 1px 5px 1px 5px;;
  
}

.note p {
  margin: 5px;
  font-size: 0.8em;
}

.note button {
  float: right;
  border-top: none;
  border-right: none;
}

.delete {
  z-index: 10;
}

.note button:focus {
  outline: none;
}
