.note {
  /* padding: 1em; */
  margin: 1em;
  border: 2px outset #00ff00;
  /* box-shadow: 1px 1px 5px 1px rgb(0, 255, 0); */
  height: 8em;
  width: 16em;
  overflow: hidden;
}

.note h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1px dashed #00ff00;
  font-size: smaller;
  display: inline;
}

.note button {
  float: right;
  border-top: none;
  border-right: none;
}

.note button:focus {
  outline: none;
}

.note p {
  font-size: 0.8em;
}

.deleted {
  display: none;
}
