.note {
  margin: 1em;
  border: 2px outset #00ff00;
  height: 8em;
  width: 16em;
  overflow: hidden;
}

.note h2 {
  margin: 5px;
  border-bottom: 1px dashed #00ff00;
  font-size: smaller;
  display: inline;
}

.note h1 {
  margin: 5px;
  display: block;
  font-size: medium;
}

.note p {
  margin: 5px;
  font-size: 0.8em;
}

.note button {
  float: right;
  border-top: none;
  border-right: none;
}

.note button:focus {
  outline: none;
}

.deleted {
  display: none;
}
